body
{

}
tr
{
	height: 70px;
	font-size: 17px;
}
td:hover
{
	 border: 2px solid black;
	border-color: #aac8fc; 

}
textarea{
	width: 100px;
	height: 100px;
}
.tdstyle
{
	/*width: 40px; */
	font-size: 12px;
}
.table_cursor
{
	cursor: pointer;
	width: 930px;
}
.trstyle
{
	height: 4px;
}
.google_img
{
	background-color: #fff;
	border: none;
	border-left: 1px solid #B6B1B1;
	border-bottom: 1px solid #B6B1B1;
}
.font_style
{
	color: #fff;
	font-size: 16px;
}
.bari
{
	padding: 10px;
}
.icon_margin
{
	padding-left: 10px;
	font-size: 16px;
	margin-top: 5px;
}
.mr
{
	margin-left: 7px;
}
.select_left
{
	height: 40px; 
	font-size: 22px; 
	margin-left: 10px;
}
.select_left_next
{
	margin-left: 40px;
}
.con
{
	margin-top: 40px; 
	margin-bottom: 40px;
}
.color_style
{
	color: #fff; 
	padding: 3px;
}
.back
{
	background-color: #F7FAF5; 
	padding: 5px;
	font-size: 20px;
}
.text_none
{
	text-decoration: none;
}
/*.m_right
{
	margin-right: 20px;
}*/
#divtable
{
	overflow: auto;
	overflow-x: hidden;
	height: 500px;
}
.mrgin
{
	margin-left: 20px;
}
.g_right
{
	margin-right: 40px;
	text-align: end;
}
.line
{
	height: 1px;
	background-color: #F0EBEB;
	margin-right: 40px;
	margin-left: 200px;
}
.b_color
{
	/*background-color: #DEFDCC;*/
	background-color: #fff;
	text-align: end;
}
.next_b
{
	font-size: 20px;
}
.pre
{
	border: none;
	/*background-color: #fff;*/
	padding-left: 5px;
	border-left: 1px solid #F0EBEB;
	border-right: 1px solid #F0EBEB;
	border-top: 1px solid #F0EBEB;
	border-bottom: 1px solid #F0EBEB;
	margin-top: 18px;
	background-color: #f8fbff;


}

.bg-black
{
	background-color: #DCDCDC;
}
.new_project
{
	background-color: #5796f9;
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 2px;
	padding: 3px 10px 3px 10px;
	margin-left: 2px;
}
.main_top
{
	margin-top: -20px;
}
.row_back
{
	background-color: #f8fbff;
}
.option_s
{
	background-color: #fff;
	color: #000;
}
.hidden_text
{
	visibility: hidden;
	border: none;
}


/*popup styling*/
#myModal1{
  top: 9%;
  /*background-color: #00000090;*/
			
}

.myform{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 4px solid rgba(0, 0, 0, .5);
	box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .5);
	/*border-radius: 1.1rem;*/
	/*border: 3px;*/
	outline: 0;
	max-width: 500px;
}

.mybtn{
	border-radius:50px;
}

#link{
	color: white;
	font-weight: bold;
}

 #logbutton{
    background-color: #007bff;
    border-radius:50px;
}

#logbutton:hover{
    box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
    background-color: #0d77e8;
}

#logbutton1{
	background-color: grey;
	border-radius:50px;
}

#logbutton1:hover{
	box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
	background-color: grey;
}
/*end popup styling*/



/*header styling*/

.top {
  display: table;
}
.top-row {
  display: table-row;
}
.top-cell {
  display: table-cell;
  padding: 2px 10px 2px 10px;
  border: 1px solid #d9d9d9;
  /*width: 10px;*/
}

.top-cell1 {
  display: table-cell;
 
  /*border: 1px solid #d9d9d9;*/
 /* padding-left: 25px;
  padding-right: 17px;*/
  /*width: 10px;*/
}

.top-cell2{
  display: table-cell;
 
  border: 1px solid #d9d9d9;
  /*padding-left: 25px;*/
  width: 1015px;
  height: 5px;
}

.down {
  display: table;
}
.down-row {
  display: table-row;
  border: 1px solid #d9d9d9;
}
.down-cell {
  display: table-cell;
  padding: 5px 10px 5px 10px;
  border: 0px solid #d9d9d9;
  background-color: #F8FAFF;
  outline: none;
  /*width: 10px;*/
}
#home{
  outline: none;
}

.down-cell1 {
  display: table-cell;
  background-color: #F8FAFF;
  border: 0px solid #d9d9d9;
  padding-left: 960px;
  padding-right: 7px;
  /*width: 10px;*/
}

.file{
  background: transparent;
  border: 0px;

}
.file1{
  border: 0px;
}

.file2{
  background: transparent;
  border: 0px;

}

.file {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.file:hover .tooltiptext {
    visibility: visible;
}

/*header styling*/

.card-header
{
	background-color: #f8fbff; 	
	padding: 4px;
	font-size: 20px;
	text-align: right;
	float: right;
	/*padding-top: 20px;*/
}

.form-inline
{
	background-color: #f8fbff; 
	margin-top: 20px;
	
}

.disp
{
	display: none;
}
#monthAndYear
{
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100px;
}
.mytable
{
	width: 280px; 
	text-align: center;
}